# ===========================================
# Unity
# ===========================================
/Library/*
!/Library/StateCache/
!/Library/LastSceneManagerSetup.txt
Build/
Temp/
Logs/
UserSettings/

# ===========================================
# Visual Studio Code
# ===========================================
.vscode/